.SinglePost_Container__DARK{
   width: 100vw;
   height: 100vh;
   overflow: hidden;
   background-color: #151515;
}
.SinglePost_Container__LIGHT{
   width: 100vw;
   height: 100vh;
   overflow: hidden;
   background-color: rgb(189, 240, 255);
}
.SinglePost_Container__BLACK{
   width: 100vw;
   height: 100vh;
   overflow: hidden;
   background-color: #0a0000;
}
.SinglePost_Container__UNDEFINED{
   width: 100vw;
   height: 100vh;
   overflow: hidden;
   background-color: rgb(30, 119, 85);
}

.singlePost_post{
   float: left;
   width: 56vw;
   height: 100vh;
   overflow-y: scroll;
   overflow-x: hidden;
}

.singlePost_comments{
   float: right;
   width: 42%;
   margin-right: 1vw; 
   height: 100vh;
}


.create_comment_forPost{
   overflow: hidden;
   height: 14vh;
   position: absolute;
   width: 100%;
   background: rgba(0, 0, 0, 0.5);
   bottom: 0;
   left: 0;
}