.SinglePost_Container__DARK{
   width: 100vw;
   height: 100vh;
   overflow: hidden;
   background-color: #151515;
}
.SinglePost_Container__LIGHT{
   width: 100vw;
   height: 100vh;
   background-color: #5ba4cf;
   display: flex;
   align-items: center;
   justify-content: space-around;
   padding: 0.4rem 1.4rem;
}

.SinglePost_Container__LIGHT main{
   width: 50%;
   display: flex;
   justify-content: center;
   flex-direction: column;
   height: 95%;
   margin: 0 1rem;
   -webkit-box-shadow: 0 4px 10px -6px rgba(0, 0, 0, 0.658);
   -moz-box-shadow: 0 4px 10px -6px rgba(0, 0, 0, 0.658);
      box-shadow: 0 4px 10px -6px rgba(0, 0, 0, 0.658);
}

.SinglePost_Container__LIGHT aside{
   
   background-color: #bcd9ea;
   width: 40%;
   display: flex;
   justify-content: flex-end;
   flex-direction: column;
   height: 95%;
   margin: 0 1.5rem;
   -webkit-box-shadow: 0 4px 10px -6px rgba(0, 0, 0, 0.658);
   -moz-box-shadow: 0 4px 10px -6px rgba(0, 0, 0, 0.658);
      box-shadow: 0 4px 10px -6px rgba(0, 0, 0, 0.658);
}

.post_title p{
   padding: 0;
   margin: 0;
}

.singlePost_title{
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 10%;
   padding: 0 1.5rem;
   border-top-left-radius: 18px;
   border-top-right-radius: 18px;
   background-color: #bcd9ea;
   z-index: 10000;
   -webkit-box-shadow: 0 4px 10px -6px rgba(0, 0, 0, 0.658);
   -moz-box-shadow: 0 4px 10px -6px rgba(0, 0, 0, 0.658);
      box-shadow: 0 4px 10px -6px rgba(0, 0, 0, 0.658);
}

.singlePost_body{
   padding: 1rem 1.5rem;
   margin: 0;
   background-color: #8bbdd9;
   overflow-y: auto;
   border-bottom-left-radius: 18px;
   border-bottom-right-radius: 18px;
   height: 90%;
}

.SinglePost_Container__BLACK{
   width: 100vw;
   height: 100vh;
   overflow: hidden;
   background-color: #0a0000;
}
.SinglePost_Container__UNDEFINED{
   width: 100vw;
   height: 100vh;
   overflow: hidden;
   background-color: rgb(30, 119, 85);
}

.singlePost_post{
   float: left;
   width: 56vw;
   height: 100vh;
   overflow-y: scroll;
   overflow-x: hidden;
}

.create_comment_forPost{
   overflow: hidden;
   height: 14vh;
   position: absolute;
   width: 100%;
   background: rgba(0, 0, 0, 0.5);
   bottom: 0;
   left: 0;
}

.sendbutton{
   background-color: rgb(211, 159, 159);
   border: none;
   margin: 1rem 5%;
   width: 90%;
}

.sendbutton:hover{
   background-color: blue;
}