
.navbarStart_container
{
    left: 0;
    top: 0;
    position: fixed;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    min-height: 3vh;
    height: 1.6vw;
    overflow: hidden;
    align-items: center;
}

.NavBarSinglePage_container{
    position: fixed;
    top:0;
    right: 0;
    width: 23%;
    display: flex;
    background-color: rgba(51, 51, 51, 0.61);
    justify-content: flex-end;
    height: 50px;
}


.NavBarSinglePage_container button{
    border-radius: 50%;
    padding: 0.538rem;
    margin: 0.5rem 0.8rem;
    background-color: #0079bf;
    border: none;
}

.NavBarSinglePage_container button:focus{
    outline: none;
}